# Node & JS dependencies
node_modules
.env

# Hardhat artifacts & cache
/cache
/artifacts
/coverage
/coverage.json
/broadcast/

# TypeChain
/typechain
/typechain-types

# Hardhat Ignition (local-only)
ignition/deployments/chain-31337

# VSCode project settings
.vscode/

# Foundry build output
out/
cache/

# Other
*.tsbuildinfo
*.log
test_metadata/
test_images/
testnet_calls/
ran
**/.DS_Store